<h2>Product List</h2>
<ul>
    <li (click)="selectedProduct = 'Webcam'">Webcam</li>
    <li (click)="selectedProduct = 'Microphone'">Microphone</li>
    <li (click)="selectedProduct = 'Wireless Keyboard'">Wireless Keyboard</li>
</ul>
<app-product-detail [name]="selectedProduct"></app-product-detail>

<!-- send data from product-list to product-detail -->
<!-- 
    we use property binding to bind the value of the selectedProduct property into the name input property of the product 
    detail component. This approach is called input binding.
 -->